<div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
<div>
  <div class="row home-bg">
    <div class="col">
      <h1 class="text-primary"><strong>Frequently Asked Questions</strong></h1>
      <hr><br>
      <br>
      <h4 class="text-primary">What this question?</h4>
      <p class="home-text">Heres a bunch of responses for the above question.</p>
      <br>
      <h4 class="text-primary">What this other question about?</h4>
      <p class="home-text">Heres a bunch of responses for the above question.</p>
      <br>
      <h4 class="text-primary">What another this is question?</h4>
      <p class="home-text">Heres a bunch of responses for the above question.</p>
      <br>


    </div>
  </div>
<br>
  <p class="">
    <button class="btn btn-lg btn-block btn-primary center" [routerLink]="['/']" type="button"><mat-icon>arrow_back</mat-icon><span>Back</span></button>
  </p>
</div>
</div>
