<div class="chat-container d-flex flex-column" *ngIf="username">

  <app-header></app-header>

  <div class="d-flex flex-column align-items-stretch" style="height:100%;">

    <div class="d-flex flex-row align-items-stretch" style="height:95%;width:100%;">
      <mat-card class="d-flex flex-column align-items-between justify-content-between mat-elevation-z6" style="background:white;width:25%;height:100%;margin:20px;">

        <app-sidebar></app-sidebar>

      </mat-card>

      <mat-card id="chat-window" class="d-flex p-2 flex-column mat-elevation-z6" style="margin:20px;margin-left: 0;">
      <div id="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="display:block;">

        <app-messages></app-messages>

      </div>


      <div class="" style="display:block;padding:10px;text-align:center;border-top: 1px solid lightgrey;">

       <app-input></app-input>

      </div>
      </mat-card>

    </div>

  </div>

</div>
