<div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
  <div class="d-flex flex-column">
    
    <h1 style="margin:0 auto;margin-bottom:1em;"><strong>Welcome To Chit Chat!</strong></h1>

    <p class="lead">
      <button class="btn btn-lg btn-block btn-outline-success center" [routerLink]="['chat']" role="button"><mat-icon style="margin-right:10px;">person_outline</mat-icon>Create A New Room</button>
    </p>
    <p class="lead">
      <button class="btn btn-lg btn-block btn-outline-primary center" [routerLink]="['chat']" role="button"><mat-icon style="margin-right:10px;">group_add</mat-icon>Join A Chat</button>
    </p>
    <p class="lead">
      <button class="btn btn-lg btn-block btn-outline-info center" [routerLink]="['faq']" role="button"><mat-icon style="margin-right:10px;">question_answer</mat-icon>F.A.Q.</button>
    </p>


  </div>
</div>
