<div class="d-flex flex-column" style="position:fixed;top: 0; left: 0; width: 100%; height: 100%;justify-content:center;align-items:center;">

  <h1 style="margin:0 auto;margin-bottom:1em;"><strong>Welcome To Chit Chat!</strong></h1>

  <mat-accordion>

    <mat-expansion-panel  [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <mat-icon style="margin-right:10px;">person_outline</mat-icon>
        Create A New Room
        </mat-panel-title>
        <mat-panel-description>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="btn btn-sm btn-primary" (click)="onCreate()">Public</button>
      <button class="btn btn-sm btn-secondary" disabled>Private</button>
    </mat-expansion-panel>

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="margin-right:10px;">group_add</mat-icon>
          Join A Chat
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <form (ngSubmit)="onJoin(f.value.room)" #f=ngForm>
        <mat-form-field>
          <input matInput placeholder="Room"
                          ngModel
                          #room="ngModel"
                          name="room"
                          required>
        </mat-form-field>
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="f.invalid">Join</button>
      </form>

    </mat-expansion-panel>

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="margin-right:10px;">question_answer</mat-icon>
          F.A.Q.
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>What this question?</h4>
      <p>Heres a bunch of responses for the above question.</p>
      <br>
      <h4>What this other question about?</h4>
      <p>Heres a bunch of responses for the above question.</p>
      <br>
      <h4>What another this is question?</h4>
      <p>Heres a bunch of responses for the above question.</p>
      <br>
    </mat-expansion-panel>

  </mat-accordion>

</div>
